@import 'variables';

@mixin lato {
  font-family: $text-font;
}

@mixin flex($align, $justify:initial) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin btnReset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}