/// Regular font family
$text-font: 'Lato', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/// Colors
$color-white: rgb(255, 255, 255);
$color-black: rgba(0, 0, 0);
$color-brand: rgba(182, 0, 234);
$color-bg: rgba(32, 27, 40);

/// Font sizes
$fs-3xs: 10px;
$fs-2xs: 12px;
$fs-xs: 14px;
$fs-s: 16px;
$fs-m: 18px;
$fs-l: 20px;
$fs-x: 22px;
$fs-xl: 24px;
$fs-2xl: 32px;
$fs-3xl: 40px;
$fs-4xl: 48px;
$fs-5xl: 56px;
