@import 'variables';
@import 'mixins';

.input-f {
  display: block;
  width: 80%;
  padding: 20px 25px;
  color: $color-white;
  background-color: rgba(38, 25, 48);
  border: 1px solid rgba($color-brand, 30%);
  border-radius: 5px;
  outline: none;
}

.mix {
  &__container {
    max-width: 650px;
    margin: auto;
  }

  &__title {
    margin-bottom: 25px;
    font-size: $fs-3xl;
    font-weight: 600;
  }

  &__description {
    margin-bottom: 20px;
    font-size: $fs-m;
    line-height: 28px;
  }

  &-nav {
    .nav {
      &-tabs {
        display: flex;
        justify-content: center;
        border: none;
      }

      &-link {
        padding: 12px 25px;
        margin: 2px;
        background-color: transparent;
        border: 1px solid $color-white;
        border-radius: 0;
        color: $color-white;
        text-transform: uppercase;

        &.active {
          background-color: transparent;
          color: $color-white;
          border: 1px solid $color-brand;
        }

        &:hover,
        &:focus {
          background-color: rgba($color-white, 20%) !important;
        }
      }
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &-form {
    &__bitcoin {
      margin-bottom: 60px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: $fs-l;
      text-transform: capitalize;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &-inner {
        position: relative;
        display: flex;
        align-items: center;
      }
    }

    &__input {
      display: block;
      width: 80%;
      padding: 20px 25px;
      color: $color-white;
      background-color: rgba(38, 25, 48);
      border: 1px solid rgba($color-black, 30%);
      border-radius: 5px;
      outline: none;

      &.error {
        border-color: red;
      }
    }

    &__percent {
      display: block;
      width: 80px;
      padding: 2px;
      margin: 0 10px;
      font-size: $fs-s;
      color: $color-white;
      background-color: transparent;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:disabled {
        border: 1px solid transparent;
      }

      &:not(:disabled) {
        border-radius: 5px;
        border: 1px solid rgba($color-brand, 40%);
      }

      &-wrap {
        position: relative;
        display: block;
        
        &::before {
          position: absolute;
          top: 50%;
          right: 20px;
          font-size: $fs-s;
          color: $color-white;
          transform: translateY(-50%);
          content: "%";
        }
      }

      &-error {
        margin: 10px 0;
        font-size: $fs-s;
        font-weight: 500;
        color: red;
      }
    }

    &__text {
      margin: 0 10px;
    }

    &__btns {
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
    }

    &__btn {
      width: 28px;
      height: 28px;
      border-radius: 5px;
      border: none;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: background-color 0.2s ease-in-out;

      &--cancel {
        margin-right: 3px;
        background-color: rgba(255, 0, 0);
        background-image: url("../assets/svg/close.svg");

        &:hover,
        &:focus {
          background-color: darken(rgba(255, 0, 0), 20%);
        }
      }
      
      &--edit {
        background-color: $color-brand;
        background-image: url("../assets/svg/pencil.svg");

        &:hover,
        &:focus {
          background-color: darken($color-brand, 20%);
        }
      }
    }

    &__btn-address {
      @include btnReset;

      color: $color-shamrock;
      font-size: $fs-s;
      text-transform: capitalize;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: darken($color-shamrock, 20%);
      }
    }

    &__service {
      margin-bottom: 40px;
    }

    &__caption {
      margin-bottom: 40px;
      font-size: $fs-l;
    }

    &__range {
      display: block;
      width: 100%;
      margin-bottom: 10px;

      &-inner {
        position: relative;
        width: 300px;
        margin-bottom: 20px;

        @media screen and (max-width: 576px) {
          width: 100%;
        }
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__value {
      font-size: $fs-m;
      font-weight: 700;
      letter-spacing: 1.1px;
    }

    &__shuffle {
      @include btnReset;

      width: 26px;
      height: 26px;

      svg {
        width: 100%;
        height: 100%;
        fill: $color-white;
        stroke: $color-white;
        transition: all 0.2s ease-in-out;
      }

      &:hover,
      &:focus {
        svg {
          fill: $color-brand;
          stroke: $color-brand;
        }
      }
    }

    &__speed {
      font-size: $fs-m;
      font-weight: 700;
      letter-spacing: 1.2px;

      &--slow {
        color: $color-gamboge;
      }

      &--fast {
        color: $color-shamrock;
      }

      &--fastest {
        color: $color-brand;
      }
    }

    &__description {
      position: relative;
      display: block;
      margin-bottom: 50px;
      font-size: $fs-s;
      font-weight: 500;
      padding-left: 20px;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url("../assets/svg/warning.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateY(-50%);
        content: "";
      }

      &--advanced {
        padding-left: 25px;

        &::before {
          background-image: url("../assets/svg/info.svg");
        }
      }
    }

    &__label {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &__radio {
      & + &-style {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        background-color: $color-white;
        border: 3px solid $color-brand;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
      }

      &:checked + &-style {
        background-color: $color-brand;
      }

      &:disabled + &-style,
      &:disabled ~ &-text {
        opacity: 0.5;
      }

      &:checked:disabled + &-style {
        background-color: $color-brand;
      }

      &-text {
        font-size: $fs-m;
        text-transform: capitalize;
      }
    }

    &__checkbox {
      &-text {
        font-size: $fs-s;
        letter-spacing: 1.1px;
      }

      &-link {
        color: $color-brand;
        text-decoration: underline;
        letter-spacing: 1.2px;
        transition: color 0.2s ease-out;

        &:hover,
        &:focus {
          color: darken($color-brand, 10%);
        }
      }

      & + &-style {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border: 2px solid $color-white;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 0.3s ease-in-out;
      }
      
      &:checked + &-style {
        border-color: $color-brand;
        background-color: $color-brand;
        background-image: url("../assets/svg/success.svg");
      }

      &:disabled + &-style,
      &:disabled ~ &-text {
        opacity: 0.5;
      }
    }

    &__btn-confirm {
      margin-right: 10px;

      @media screen and (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    &__btn-calculator {
      border: 2px solid $color-white;
      color: $color-brand;
      background-color: transparent;

      &:hover,
      &:focus {
        color: $color-brand;
        border-color: $color-brand;
        background-color: transparent;
      }
    }

    &__confirm {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      @media screen and (max-width: 576px) {
        flex-direction: column;
      }
    }

    &__select {
      position: relative;
      display: block;
      width: 200px;
      padding: 15px 25px;
      margin-bottom: 40px;
      font-size: $fs-l;
      font-weight: 500;
      color: $color-white;
      background-color: rgba(38, 25, 48);
      border: 1px solid rgba($color-brand, 30%);
      border-radius: 5px;
      appearance: none;
      background-image: url("../assets/svg/arrow-d.svg");
      background-repeat: no-repeat;
      background-position: center right 10px;
      background-size: 10%;
      cursor: pointer;
    }
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  max-height: 0;
  padding: 30px 5px;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  border-top: 2px solid rgba($color-brand, 30%);
  transition: opacity 0.3s ease-in-out, height 5s ease-in-out;
  opacity: 0;
  overflow: hidden;

  &__label {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: $fs-s;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    color: $color-white;
  }

  &.open {
    max-height: 610px;
    opacity: 1;
  }
}